/* Containers */
#container {
width: 1200px;
height: 840px;
margin-left: auto;
margin-right: auto;
}
/* End Containers */


/* övriga */
body {
background-color:pink;
}

p {
text-align:left;
width:80%;
margin-left:10%;
margin-right:10%;
}

h1 {
text-align:center;
}
/*slut övriga */

/* In i container */
#header {
width:100%;
height:140px;
background-color:blue;

}

#nav {
width:20%;
height:630px;
float:left;
background-color:green;
overflow:hidden;
}

#mainnav {
width:80%;
height:35px;
float:left;
background-color:red;
overflow:hidden;
}

main {
width:80%;
height:595px;
float:left;
overflow:auto;
background-color:yellow;
}

#footer {
width:100%;
height:70px;
float:left;
background-color:#D0F7DD;
}


/* End in i containers */