/* Containers */
#container {
	width: 1200px;
	height: 840px;
	margin-left: auto;
	margin-right: auto;
}
/* End Containers */

/* BREADCRUMBS */
#breadcrumbs {
	list-style: none;
	margin-top: 8px;
	margin-bottom: 10px;
	padding-left: 0px;
	margin-left: 15px;
	font-family: Arial, cursive, sans-serif;
	font-weight: bold;
}

#breadcrumbs li{
	float:left;
}

#breadcrumbs li a{
	padding-right: 0px;
	display: block;
	float: left;
	color: black;
}
/* END BREADCRUMBS  */


/* övriga */
body {
	background-color: #444444;
}

.news p, h3 {
	padding:15px;
	margin:0px;
}
.offers p, h3 {
	padding:15px;
	margin:0px;
}

article h1 {
	text-align:center;
}

fieldset {
	width: 500px;
	border-radius: 5px;
}
/*slut övriga */

/* sid specifikt */
.newsForm {
	margin: 15px;

}

.newsForm h1 {
	text-align:left;

}

.product {
margin: 0px;
padding-left: 15px;
}

.product p{
clear:left;
margin: 0px;
padding-top: 5px;
}

.product img {
	float:left;
}

.product ul{
	float:left;
}

.productlisttable {
margin-left: auto;
margin-right: auto;
}
.productlisttable td {
padding: 10px;
}
.productlisttable img {
height: 180px;
width: auto;
}

.productlisttable p {
text-align:center;
font-family: Verdana;
}


/* end sid specifikt */




/* In i container */
.search {
 	display:inline;
 	height:100%;
 	float:right;
 	padding-top:15px;
 	margin-right:5px;
 }

#logoheader {
	width:20%;
	height:140px;
	background-color:#555555;
	float:left;
	outline:1px solid black;
}

#logoheader img {
	display:block;
	width:auto;
	height:80%;
	margin:auto;
}

#header {
	width:80%;
	height:140px;
	background-image: url("bilder/banner.png");
	float:left;
	outline:1px solid black;
	text-shadow: 2px 2px 6px #1a0000;
	text-transform: uppercase;
	letter-spacing: 10px;
	font-family: "courier new", courier;
}

#header p {
	font-size: 48px;
	color:#E61A1C;
	margin: 0px;
	padding-left:25px;
	padding-top:35px;

}

/*#header img {
	height: auto;
	width: 100%;
}*/

#nav {
	margin-top: 6px;
	width:20%;
	height:630px;
	float:left;
	background-color:#E4E4E4;
	outline:1px solid black;
	overflow:hidden;
}

#sidenavlist {
	 list-style: none;
	 list-style-position:outside;
	 margin: 0px;
	 padding: 0px;
}

#sidenavlist li {
	 border-bottom:1px solid black;
	 text-align: center;
}

#sidenavlist li a{
	display: block;
	margin: 0px;
	padding: 5px;
	width: 100%;
	height: 24px;
	color:#E61A1C;
	text-decoration: none;
	font-family: Verdana;
}

#sidenavlist li a:hover{
	background-color: black;
	color:#E61A1C;
	font-weight: bold;
}

.news{
	border-radius: 0 25px 0 25px;
	box-shadow: 0 0 20px rgba(0,0,0,0.4);
	width: 45%;
	height: 200px;
	float:left;
	margin-left:2.5%;
}
.offers{
	border-radius: 0 25px 0 25px;
	box-shadow: 0 0 20px rgba(0,0,0,0.4);
	margin:0px;
	width: 45%;
	height: 200px;
	float:left;
	margin-left:5%;
}

#mainnav {
	margin-top: 6px;
	width:80%;
	height:35px;
	float:left;
	background-color:#E4E4E4;
	outline:1px solid black;
	overflow:hidden;
}

main {
	outline:1px solid black;
	width:80%;
	height:595px;
	float:left;
	overflow:auto;
	background-color:white;
}

#footer {
	width:100%;
	height:80px;
	float:left;
	background-color:#232323;
	margin-top: 6px;
	outline: 1px solid black;
}

#footer a{
	color:#E61A1C;
}

#footer li{
	padding-top:2px;
}

#footerlinkslist1 {
	list-style-type:none;
	float:right;
	margin-top: 10px;
	margin-right:35px;
}

#footerlinkslist2 {
	list-style-type:none;
	float:right;
	margin-top: 10px;
}

#footerpics {
	table-layout:fixed;
	width:280px;
	height:100%;
	float:left;
	margin-left:5px;
	padding:0px;
}

#footerpics td {
}

#footerpics img {
	width:100%;
	height:auto;
}

#slideshow {
    margin: 50px auto;
    float:left;
	margin-left:18%;
    width: 610px;
    height: 216px;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

#slideshow > div {
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}


/* End in i containers */